<h1 id="tableLabel">Search component</h1>
<h6>This component allows to search for most relevant results. Please, enter a search phrase and click 'Search' button to get results. If the search phrase is empty - results will be displayed, but sorted only by names ascending (A-Z)</h6>

<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Enter search phrase" aria-label="Search phrase" aria-describedby="basic-addon2" [(ngModel)]="searchString">
  <div class="input-group-append">
    <button class="btn btn-primary" type="button" (click)="getSearchResults()">Search</button>
  </div>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="showWeights" [(ngModel)]="showWeights">
  <label class="form-check-label" for="showWeights">
    Show weights
  </label>
</div>

<div *ngIf="isLoading && results.length === 0" class="d-flex justify-content-center">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only"></span>
  </div>
</div>

<h5 *ngIf="results && results.length === 0 && !isLoading" class="text-center">
  No results.
</h5>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="results && results.length > 0">
  <thead>
    <tr class="text-center">
      <th class="align-middle">Name</th>
      <th class="align-middle">Description</th>
      <th class="align-middle">Entity Type</th>
      <th class="align-middle d-none d-xl-table-cell">Short Cut</th>
      <th class="align-middle d-none d-xl-table-cell">Type</th>
      <th class="align-middle d-none d-xl-table-cell" style="min-width: 130px;">Serial Number</th>
      <th class="align-middle d-none d-xl-table-cell">Floor</th>
      <th class="align-middle d-none d-xl-table-cell">Room Number</th>
      <th class="align-middle d-none d-xl-table-cell" *ngIf="showWeights">Weight</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let result of results">
      <td class="align-middle">{{ result.name }}</td>
      <td class="align-middle">{{ result.description }}</td>
      <td class="align-middle">{{ result.entityType }}</td>
      <td class="align-middle d-none d-xl-table-cell">{{ result.shortCut }}</td>
      <td class="align-middle d-none d-xl-table-cell">{{ result.type }}</td>
      <td class="align-middle d-none d-xl-table-cell" style="min-width: 130px;">{{ result.serialNumber }}</td>
      <td class="align-middle d-none d-xl-table-cell">{{ result.floor }}</td>
      <td class="align-middle d-none d-xl-table-cell text-center">{{ result.roomNumber }}</td>
      <td class="align-middle d-none d-xl-table-cell text-center" *ngIf="showWeights">{{ result.weight }}</td>
    </tr>
  </tbody>
</table>
